<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 welcome">
      <h1>An easier way to collect your assets <span class="amp">&amp;</span> collaborate</h1>
      <a href="#" class="btn btn-success btn-lg text-uppercase welcome-button">Get Started</a>
    </div>
  </div>

</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <p class="copyright">&copy; 2016 Ivor Padilla. MIT Licensed.</p>
    </div>
  </div>
</footer>
