<h1>Projects</h1>
<%= link_to "New Project", new_project_path, class: "btn btn-primary" %>

<% if @projects.any? %>
      <%= render @projects %>
    <% else %>
      <p> There's nothing here, go a head and create a new project. </p>
  <% end %>
