<h2><%= @asset.title %></h2>

<ul>
  <li><%= @asset.user_id %></li>
  <li> <%= @asset.title %> </li>
  <% if @asset.asset_file? %>
    <li> <%= image_tag @asset.asset_file.url %> </li>
  <% end %>

</ul>
