<h2><%= @asset.title %></h2>

<ul>
  <li><%= @asset.user_id %></li>
  <li> <%= @asset.title %> </li>
  <li><%= image_tag attachment_url(@asset, :asset_file, :fill, 250, 250, format: "jpg") %></li>
</ul>
