  <li>
      <h3><%= link_to post.title, project_category_post_path(@project, @category, post) %></h3>

      <p><%= post.content %></p>
      <small><%= time_ago_in_words(post.created_at) %></small>
  </li>
