/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 // require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$dark-primary: #182433;
$primary-color: #2196F3;
$primary--border-radius: 5px;
$primary--link-color: #212121;
$primary--paragraph-color: #727272;


body {
  background: #F5F7F9;
  font-family: Helvetica Neue, sans-serif;
}

h4 {
  a {
    color: $primary--link-color;
    margin-top: 15px;
     &:hover {
      color: $primary--link-color;
     }
  }
}

p {
  font-family: Helvetica Neue, sans-serif;
  font-weight: 300;
  color: $primary--paragraph-color;
}

.alert-alert {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.navbar {
  border-radius: 0px;
  margin: -1px -1px auto -1px;
  &.navigation{
    border-bottom: none;
    background: $dark-primary;
    padding-bottom: 25px;
  }
}

ul {
    &.nav {
      &.navbar-nav
        {
          &.main-navigation {
            margin-top: 20px;
          }
        }
    }
}

.brand-navbar {
  margin-top: 20px;
}

.secondary-navigation {
  background: $primary-color;
  border-top: none;
  padding: 4.5px 0;
}

.asset-posts-container {
  margin-top: 30px;
}


.asset-post {
  /* Mask: */
  background: white;
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.05);
  border-radius: $primary--border-radius;
  max-width: 263px;
  margin-right: 15px;
  margin-left: 14px;
  margin-bottom: 30px;
  padding: 10px;

    &:first-child {
      margin-left: 0px;
    }    
    &:last-child {
      margin-right: 0px;
    }

    .asset-thumbnail {
        // Global asset-thumbnail properties
        img {
          border-top-left-radius: $primary--border-radius;
          border-top-right-radius: $primary--border-radius;
          margin-left: -10px;
          margin-top: -10px;
        }
    }
}


@media (max-width: $screen-sm-min) { 
  .navbar-collapse {
    margin-top:25px;
  }
}
