<div class="navbar navbar-default secondary-navigation">
  <div class="container">

  <div class="row">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

   <div class="collapse navbar-collapse" id="secondary-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "All", project_category_path(@project, @category) %></li>
        <% @assets_content_type.each do |type| %>
          <li><%= link_to (fa_icon "file-#{type}-o", text: "#{type}"), assets_content_type_path(@project, @category, type) if type.present?  %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to (fa_icon "pencil-square-o", text: "Create Note"), new_project_post_path(@project) %></li>
       <li><%= link_to (fa_icon "cloud-upload", text: "Upload Asset"), new_project_asset_path(@project, category_id: @category.id), class: "btn--asset-upload" %></li>
      </ul>
   </div> <!-- /#secondary-navbar-collapse-1 -->
  </div>
      
  </div>
</div>
