<div class="row">
  <div class="col-md-4">
    <h1>Categories</h1>

    <%= form_for @category, :url => project_category_path do |f| %>
      <%= render "shared/errors", object: @category %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.submit "Create", class: 'btn btn-success' %>

    <% end %>

  </div>
</div>
