<h2> Category: <%= @category.name %> </h2>
<h3>Assets:</h3>
<%= link_to "Add New Asset", new_project_asset_path(@project, category_id: @category.id), class: "btn btn-success" %>

<%= render @category.assets %>
