<%= render partial: "categories_menu" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4> Category: <%= @category.name %> </h4>
      <h3>Assets:</h3>

      <%= link_to "Edit Category", edit_project_category_path(@project, @category), class: 'btn btn-primary' if current_user.has_role? :admin  %>
    </div>
  </div>

  <%= render partial: "assets/assets" %>
</div>





