<h1>Assets Inside Categories</h1>
<p>Find me in app/views/categories/show.html.erb</p>

<%= render @category.assets %>

<%= link_to "Create New Asset", new_project_category_asset_path(@project, @category), class: "btn btn-success" %>
